body,
html {
	height: 98%;
	width: 99%;
	font-family: sans-serif;
}
* {
	padding: 5px;
}

body {
	background-color: #202020;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.main {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 80%;
	height: 80%;
	justify-content: center;
	align-items: stretch;
	min-width: 300px;
}
.chats,
.current {
	display: flex;
	flex-direction: column;
	border: 3px solid white;
}

/*saved convos*/
.chats {
	width: 29%;
	font-size: larger;
	justify-content: flex-start;
	align-items: flex-end;
}
.add{
	width: 95%;
	border-bottom: 1px solid gray;
}
.add::before {
	content: "add convo";
	display: flex;
	flex-direction: column;
}
#addid {
	width: 100%;
}
.heads {
	min-width: none; 
}
button[class="name"] {
	background-color: #202020;
	font-size: xx-large;
	color: white;
	border: none;
	border-bottom: 1px solid gray;
	margin: 2px 0;

}

/*-*/

/*currently open convo*/
.current {
	width: 50%;
	min-height: 500px;
}

/*chat history*/
.header {
	background-color: #151515;
}
.receip {
	font-size: x-large; 
	padding: 15px 5px;
}
.history {
	height: 100%;
	display: flex;
	flex-direction: column-reverse;
}
.sent,
.received {
	font-size: x-large;
	border-radius: 20px;
	padding: 5px 10px;
	margin: 15px 0;
}
.received {
	align-self: flex-start;
	background-color: black;
	color: white;
	border-bottom-left-radius: 0;
}
.sent {
	border-bottom-right-radius: 0;
	align-self: flex-end;
	background: white;
	color: black;
}
/*-*/

/*input area*/
.input {
	display: flex;
	flex-direction: row;
}
.area {
	width: 79%;
}
.send {
	width: 19%;
}
/*-*/
