body {
	background-color: #5c6b73;
	color: #e0fbfc;
	font-family: sans-serif;
}
h2,
h1 {
	width: fit-content;
}
fieldset {
    width: fit-content;
	padding: 1cm;
	min-width: 300px;
	width: 40%;
    border-width: 5px;
    border-style: dashed;
    display: flex;
	width:40%;
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: stretch;
}
body fieldset:nth-child(1) { 
    border-top-left-radius: 100px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 21px;
    border-bottom-left-radius: 2px;
}
body fieldset:nth-child(2) {
    border-top-right-radius: 100px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 2px;
}

input {
	width: 6.2cm;
	height: 1.2cm;
    border: none;
    background-color: #5c6b73;
    border-bottom: 5px solid #c0c0c0;
}
div {
    display: flex;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: stretch;
    flex-wrap: wrap;
}
.submit {
    background-color: #5c6b73;
    color: white;
    text-decoration: underline;
    height: 1cm ;
    border: none;
    width: 3cm;
    align-self: flex-end;
}